<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>ShareExtension</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>IntentsSupported</key>
			<array>
				<string>INSendMessageIntent</string>
			</array>
			<key>NSExtensionActivationRule</key>
			<string>SUBQUERY (
				extensionItems,
				$extensionItem,
				SUBQUERY (
					$extensionItem.attachments,
					$attachment,
					(
						ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.file-url"
						|| ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.image"
						|| ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.text"
						|| ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.movie"
						|| ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.url"
						|| ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.data"
						|| ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "net.daringfireball.markdown"
						|| ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.plain-text"
					)
				).@count > 0
			).@count > 0</string>
			<key>PHSupportedMediaTypes</key>
			<array>
				<string>Video</string>
				<string>Image</string>
			</array>
		</dict>
		<key>NSExtensionPrincipalClass</key>
		<string>ShareExtension.ShareViewController</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.share-services</string>
	</dict>
</dict>
</plist>
